@charset "UTF-8";
/* CSS Document */
.date-picker {
  position: relative;
  width: 50%;
  max-width: 320px;
  height: 40px;
  background-color: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.date-picker:hover{
  background-color: #f3f3f3;

}

/*Den viste/valgte dato */
.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;
	

}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: #ffffff;
}

/* active = blok kommer ned når der klikkes på dato = under "functions" i js */
.date-picker .dates.active {
  display: block;
}

/* styling af månedens placering + farve */
.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

/*pilene på hver side af måneden */
.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;

}

/* farven der vises når man hover over pilene */
.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

/* farven der kommer frem når man klikker på pilen i boksen */
.date-picker .dates .month .arrows:active {
  background-color: #00ca85;
}

/* Rækken med dagene i kalenderen */
.date-picker .dates .days {
display: grid;
grid-template-columns: repeat(7, 1fr); /* repeat = da der er 7 dage på en uge og 1fr = one fraction */
height: 200px;
}

/* Selve dagene */
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

/* Når en dag bliver valgt */
.date-picker .dates .days .day.selected {
background-color: #f15c22;
color: #313131;
}
	

/** Graf på statistik siden **/
.canvas_container {
align-content: center;
margin-top: 40%;
margin-left: -55px;
width: 300px;
position: absolute;
z-index: -10;

}
#myChart {
	background: #EEEEEE;
	width: 100%;
}

.button_statistik {
  width: 200px;
  height: 48px;
  margin-top: 300px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}
.button2_statistik {
  width: 200px;
  height: 48px;
  margin-top: 10px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

/**TILPASSET IPAD**/
@media only screen and (min-width: 768px) {
	
/** Graf på statistik siden **/
.canvas_container {
margin-top: 10%;
margin-left: -185px;
width: 700px;


}
#myChart {
	background: #FFFFFF;
	width: 100%;
}

.button_statistik {
  width: 300px;
  height: 58px;
  margin-top: 130%;
  
}
.button2_statistik {
  width: 300px;
  height: 58px;
  margin-top: 10px;
}	
}
/**TILPASSET WEB/1000px**/
@media only screen and (min-width: 1000px) {
	
/** Graf på statistik siden **/
.canvas_container {
margin-left: -185px;
width: 50%;
	}
}
	
	