@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
}

html {
    height: 100%;
    padding-top: 0;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: black;
}


.nav {
    height: 60px;
    background-color: #000000;
}

.menu {
  float: right;
  margin-right: 171px;
}

.nav a {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 10pt;
    line-height: 60px;
    color: #ffffff;
}

.nav a:hover {
    color: #f15c22;
}

/*Til at indikere hvilken side brugeren er på*/

.active {
    background-color: #f15c22;
    padding: 5px;
    border-radius: 40px;
}

.styleGuideContent1 {
  padding-top: 50px;
  width: 1000px;
  margin: 0 auto;
}

.styleGuideContent1 h1 {
  width: 600px;
  margin: 0 auto;
  font-size: 29px;
  font-weight: 700;
}

.styleGuideContent {
  padding-top: 60px;
}

.styleGuideContent h1 {
  padding-top: 60px;
  font-size: 29px;
  font-weight: 700;
}


.main {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.logo {
    margin-left: 171px;
    padding-top: 17px;
    width: 200px;
    height: auto;
    float: left;
}

.flex-container-introduktion {
  display: row;
  justify-content: center;
	padding: 60px 0;
  width: 600px;
  margin: 0 auto;
}

.robotnordic-logo {
	display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}

.UCL-Logo {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

/*BOX1*/

.textBox1 {
    width: 800px;
    padding: 1em;
    color: #000000;
    margin: 0 auto;
}

.textBox1 h1 {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
}

.textBox1 h2 {
    color: #000000;
    font-size: 29px;
    font-weight: 600;
}

.textBox1 h3 {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}

.textBox1 h4 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
}

.textBox1 h5 {
    color: #000000;
    font-size: 26px;
    font-weight: 300;
}

.textBox1 h6 {
    color: #000000;
    font-size: 24px;
    font-weight: 200;
}

.textBox1 p {
    color: #000000;
    font-size: 19px;
    font-weight: 600;
}

.textBox1 p1 {
    color: #000000;
    font-size: 19px;
    font-weight: 300;
}

.textBox1 p2 {
    color: #000000;
    font-size: 19px;
    font-weight: 200;
}

.textBox1 p3 {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.textBox1 p4 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}


.textBox1aelement {
    text-decoration: none;
    color: #707070;
}

.textBox1alink {
    text-decoration: underline dotted;
    color: #707070;
}

/*BOX2*/

.textBox2 {
    height: auto;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background: url(/assets/images/produktbild.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
}

.textBox2aelement {
    text-decoration: none;
    color: #f5f5f5;
}

.textBox2alink {
    text-decoration: underline dotted;
    color: #f5f5f5;
}

/*HOVER*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f5f5f5;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.grid-item {
  width: 200px;
  height: 200px;
  margin: 35px auto;
  background-color: #f15c22;
  border-radius: 10px;
}

.imgs {
    margin: 0 auto;
    height: 80px;
    width: 80px;
}

.socialicons {
    font-size: 96px;
}

code {
    background-color: #eee;
    color: #000000;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.styleGuideGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 700px;
    margin: 0 auto;
    padding: 50px; 0
}

.styleGuideGridItem {
  margin: 10px;
  max-width: 600px;
}

.styleGuideGrid-sider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 700px;
    margin: 0 auto;
    padding: 50px; 0
    align-content: center;
}

.styleGuideGridItem-sider h5 {
  max-width: 600px;
  color: black;
  font-weight: 300;
  font-size: 26px;
  line-height: 60px;
}

.styleGuideContent h1 {
    padding-top: 50px;
    margin: 0 auto;
}

.button1 {
  width: 253px;
  height: 39px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  line-height: 39px;
  font-weight:
  /* padding: 12px 50px; */
  text-align: center;
}

.button2 {
  width: 71px;
  height: 71px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  padding: 0 5px;
  text-align: center;
}

.button2 img {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  fill: #ffffff;

}

.button3 {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 21px;
  line-height: 39px;
  text-align: center;
}

.button3 img {
  width: 100px;
  height: 100px;
  padding-top: 12px;
  text-align: center;
}

.button4 {
  width: 179px;
  height: 42px;
  margin-top: 15px;
  border-radius: 21px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 42px;
  /* padding: 12px 50px; */
  text-align: center;
  text-decoration: none;
}

.button5 {
  width: 308px;
  height: 42px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button6 {
  width: 308px;
  height: 42px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #EEEEEE;
  display: inline-block;
  border: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button7 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button8 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button9 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button10 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button11 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button12 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button13 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button14 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button15 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button16 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button17 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button18 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button19 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button20 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}


.farveGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.farveText {
    margin: auto;
}

.farve1 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #F15C22;
}

.farve2 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #EEEEEE;
}

.farve3 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #515865;
}

.farve4 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #222B3B;
}

.farve5 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #000000;
}

.farve6 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #ffffff;
    border: 2px solid black;
}


/*************************** header show *******************************/


.nav-software {
    height: 60px;
    background-color: #000000;
}

.menu-software {
  float: right;
  margin-right: 171px;
}

.nav-software a {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 10pt;
    line-height: 60px;
    color: #ffffff;
}

.styleGuideContent-software {
  padding-top: 60px;
}

.styleGuideContent-software h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 29px;
  font-weight: 600;
}

.styleGuideContent-software h2 {
  padding-bottom: 20px;
  font-size: 19px;
  font-weight: 300;
}


.main-software {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.logo-software {
    margin-left: 171px;
    padding-top: 17px;
    width: 200px;
    height: auto;
    float: left;
}

.styleGuideGrid-software {
  height: 60px;
}





/*********************** Mobil versions css - styleguide   ******************/
/*********** MÅ IKKIE BENYTTES UDOVER FREMVISNING AF STYLEGUIDE**************/

.main-software-mobile-sg {

}

header img {
  margin-left: 45%;
}

.styleGuideContent-software-mobile-sg {
  padding-top: 60px;
  text-align: center;
}

.styleGuideContent-software-mobile-sg h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 29px;
  font-weight: 600;
}

.styleGuideContent-software-mobile-sg h2 {
  padding-bottom: 20px;
  font-size: 19px;
  font-weight: 300;
}

.mobilversion-style-sg {
  height: 60px;
  width: 375px;
  position: relative;
  background-color: black;
  margin: 0 auto;
}

.mobilversion-style-sg img {
  margin-left: 44%;
  margin-top: 8px;
}

/************************** BURGER MENU ***************************/
/*********** MÅ IKKIE BENYTTES UDOVER FREMVISNING AF STYLEGUIDE**************/
.burgercontainer-sg {
  z-index: 1;
  width: 50px;
  position: absolute;
}

.burger-menu-sg { /* stregerne */
  margin-right: 10px;
}

/* BURGERMENU */
.burgercontainer-sg {
  z-index: 5;
  width: 375px;
  height: 812;
  /* stregerne */
}

/************* FARVEN BAG LISTEN I CONTAINER (STYLEGUIDEN) **********/
.navbar-sg { /* Baggrunden på slideren */
  height: 752px;
  width: 375px;;
  background-color: black;
  position: absolute;
  top: 3px;
  display: flex;
  right: -375px;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.change {
  right: 0;
}

.burger-menu-sg { /* stregerne */
  z-index: 99999999999999;
  width: 35px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-sg {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
  border-radius: 1px;
}

.change .line-1-sg {
  transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2-sg {
  opacity: 0;
}

.change .line-3-sg {
  transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list-sg {
  list-style: none;
}

/********************** SELVE LISTEN (STYLEGUIDE) *********************/
.nav-container-sg{
  height: 100%;
  overflow-x: scroll;
  z-index: 1000 !important;
  background-color: black;
}

/********************** LIST-ITEM (STYLEGUIDE) *********************/
.nav-item-sg {
  width: 375px;
  margin-bottom: 10px;
  padding: 10px 0;
}
/********************** FØRSTE LIST-ITEM (STYLEGUIDE) *********************/
.forside-sg {
  width: 375px;
  margin-top: 40px;
  padding: 20px 0;
}
/********************** LIST-ITEM (STYLEGUIDE) *********************/
.nav-item-sg img{
  width: 30%;
  visibility: visible;
}

/********************** RESTEN AF LIST-ITEMS (STYLEGUIDE) *********************/
.nav-link-sg {
  display: block;
  text-decoration: none;
  list-style: none;
  width: 375px;
  margin-left: 25px;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  font-weight: 300;
  border-bottom: 2px solid white;
  border: 5px;
  border-color: #000000;
}

/************** FORSIDE STYLING *******************/

.forside-content {
  padding-top: 80px;
  padding-bottom: 60px;
}


.main-forside {
    margin: 0 auto;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.grid-container-forside {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 270px;
  justify-content: center;
  width: inherit;
  margin: 0 auto;
  padding: 10px;
}

.grid-item-forside {
  width: 200px;
  height: 200px;
  margin: 35px 35px;
  background-color: #f15c22;
  border-radius: 20px;
}

.grid-item-forside a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
  color: black;
}

.imgss {
    margin: 25px auto;
    height: 150px;
    width: 150px;
}

/************** LOG IND STYLING *******************/


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}




/********************* MEDIA QUERIES ************************/
/*********** 801 eller højere ****************/
@media only screen and (min-width: 801px) {
  header {
      display: none !important;
  }
  .burgercontainer {
    display: none !important;
  }
}


/************ Dette er burgermenuen på hver side ************/
/*********** 800 eller lavere ****************/
@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .forside-content {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .main-forside {
      margin: 0 auto;
      font-size: 20px;
      padding: 0;
      text-align: center;
  }
  .grid-container-forside {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    justify-content: center;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-item-forside {
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: #f15c22;
    border-radius: 20px;
  }

  .grid-item-forside a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    color: black;
    line-height: 60px;
  }

  .imgss {
      margin: 0 auto;
      height: 120px;
      width: 120px;
      padding-top: 30px;
  }

  .button4 {
    width: 160px;
    height: 35px;
    margin-top: 25px;
    border-radius: 21px;
    background-color: #222B3B;
    display: inline-block;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    /* padding: 12px 50px; */
    text-align: center;
  }

}

/************ Dette er burgermenuen på hver side ************/
/*********** 500 eller lavere ****************/
@media only screen and (max-width: 500px) {
  nav {
    display: none;

  }

  .forside-content {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .main-forside {
      margin: 0 auto;
      font-size: 20px;
      padding: 0;
      text-align: center;
  }
  .grid-container-forside {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    justify-content: center;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-item-forside {
    width: 130px;
    height: 130px;
    margin: 30px 18px;
    background-color: #f15c22;
    border-radius: 20px;
  }

  .grid-item-forside a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 55px;
  }

  .imgss {
      margin: 0 auto;
      height: 100px;
      width: 100px;
      padding-top: 30px;
  }

  .button4{
    width: 160px;
    height: 35px;
    margin-top: 25px;
    border-radius: 21px;
    background-color: #222B3B;
    display: inline-block;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    /* padding: 12px 50px; */
    text-align: center;
  }

}





/************* SETTINGS FOR MEDIA QUERIES MED BURGERMENU **********/


/************* ROBOT NORDIC LOGO I AF NAV **********/
    header img {
        margin-left: 45%;
    }

    /* BURGERMENU */
    .burgercontainer {
      z-index: 1;
      width: 50px;
      height: 100vh;
    }

    /* HEADER */
    header {
      width: 100%;
      top: 0px;
      height: 60px;
      display: flex;
      background-color: #000000;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    header img{
      visibility: visible;
    }

    /* SELVE BURGERMENU-CONTAINEREN */
    .burgercontainer {
      z-index: 5;
      width: 60px;
      height: 100%;
    }

/******* FARVEN BAG LISTEN I CONTAINER **********/
    .navbar {
      width: 100%;
      background-color: #000000;
      position: fixed;
      top: 59px;
      display: flex;
      right: -800px;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
    }

/******** ANIMATION AF BURGERMENU IKONET ************/
    .change {
      right: 0;
    }

/********* STREGERNE I BURGERMENU-IKONET********/
    .burger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 15px;
      right: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

/********** BURGER-IKONET, -LAVET AF SMÅ LISTER- ******/
    .line {
      width: 100%;
      height: 3px;
      background-color: white;
      transition: all 0.8s;
      border-radius: 1px;
    }

/******** ANIMATION AF BURGERMENU IKONET *******/
    .change .line-1 {
      transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
      opacity: 0;
    }

    .change .line-3 {
      transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .nav-list {
      list-style: none;
      padding-top: 30px;
    }

/********** SELVE LISTEN ***********/
    .nav-container{
      height: 100vh;
      overflow-x: scroll;
      z-index: 1000 !important;
    }

/********* LIST-ITEM ********/
    .nav-item {
      width: 375px;
      margin-bottom: 10px;
      padding: 10px 0;
    }

/********* FØRSTE LIST-ITEM *********/
    .forside {
      width: 375px;
      margin-top: 10px;
      padding: 20px 0;
    }

/********** RESTEN AF LIST-ITEMS *******/
    .nav-link {
      display: block;
      text-decoration: none;
      list-style: none;
      width: 375px;
      margin-left: 25px;
      font-size: 26px;
      font-weight: 300;
      color: #ffffff;
      font-weight: 300;
      border-bottom: 2px solid white;
      border: 5px;
      border-color: #000000;
    }

}
