@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html {
    height: 100%;
    padding-top: 0;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
/**Fjerner streger under links**/
a {
	text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: black;
}


.nav {
    height: 60px;
    background-color: #000000;
}

.menu {
  float: right;
  margin-right: 171px;
}

.nav a {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 10pt;
    line-height: 60px;
    color: #ffffff;
}

.nav a:hover {
    color: #f15c22;
}

/*Til at indikere hvilken side brugeren er på*/

.active {
    background-color: #f15c22;
    padding: 5px;
    border-radius: 40px;
}

.styleGuideContent1 {
  padding-top: 50px;
  width: 1000px;
  margin: 0 auto;
}

.styleGuideContent1 h1 {
  width: 600px;
  margin: 0 auto;
  font-size: 29px;
  font-weight: 700;
}

.styleGuideContent {
  padding-top: 60px;
}

.styleGuideContent h1 {
  padding-top: 60px;
  font-size: 29px;
  font-weight: 700;
}


.main {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.logo {
    margin-left: 171px;
    padding-top: 17px;
    width: 200px;
    height: auto;
    float: left;
}

.flex-container-introduktion {
  display: row;
  justify-content: center;
	padding: 60px 0;
  width: 600px;
  margin: 0 auto;
}

.robotnordic-logo {
	display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}

.UCL-Logo {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

/****************************** TEKST SIDEN *********************************/

.textBox1 {
    width: 800px;
    padding: 1em;
    color: #000000;
    margin: 0 auto;
}

.textBox1 h1 {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
}

.textBox1 h2 {
    color: #000000;
    font-size: 29px;
    font-weight: 600;
}

.textBox1 h3 {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}

.textBox1 h4 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
}

.textBox1 h5 {
    color: #000000;
    font-size: 26px;
    font-weight: 300;
}

.textBox1 h6 {
    color: #000000;
    font-size: 24px;
    font-weight: 200;
}

.textBox1 p {
    color: #000000;
    font-size: 19px;
    font-weight: 600;
}

.textBox1 p1 {
    color: #000000;
    font-size: 19px;
    font-weight: 300;
}

.textBox1 p2 {
    color: #000000;
    font-size: 19px;
    font-weight: 200;
}

.textBox1 p3 {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.textBox1 p4 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.textBox1aelement {
    text-decoration: none;
    color: #707070;
}

.textBox1alink {
    text-decoration: underline dotted;
    color: #707070;
}

/****************************** SKAL SLETTES *********************************/

.textBox2 {
    height: auto;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background: url(/assets/images/produktbild.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
}

.textBox2aelement {
    text-decoration: none;
    color: #f5f5f5;
}

.textBox2alink {
    text-decoration: underline dotted;
    color: #f5f5f5;
}

/*HOVER*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f5f5f5;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/********************** DE FORSKELLIGE GRID ELEMENTER ***************************/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.grid-item {
  width: 200px;
  height: 200px;
  margin: 35px auto;
  background-color: #f15c22;
  border-radius: 10px;
}

/********************** BILLEDER OG IKONER ***************************/

.imgs {
    margin: 0 auto;
    height: 80px;
    width: 80px;
}

.socialicons {
    font-size: 96px;
}

code {
    background-color: #eee;
    color: #000000;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

/********************** STYLEGUIDE GRID ITEMS ***************************/

.styleGuideGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 700px;
    margin: 0 auto;
    padding: 50px; 0
}

.styleGuideGridItem {
  margin: 10px;
  max-width: 600px;
}

.styleGuideGrid-sider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 700px;
    margin: 0 auto;
    padding: 50px; 0
    align-content: center;
}

.styleGuideGridItem-sider h5 {
  max-width: 600px;
  color: black;
  font-weight: 300;
  font-size: 26px;
  line-height: 60px;
}

.styleGuideContent h1 {
    padding-top: 50px;
    margin: 0 auto;
}

/*************************** KNAPPERNE OG GRID ******************************/

.button1 {
  width: 253px;
  height: 39px;
  margin-top: 34px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  font-weight:
  /* padding: 12px 50px; */
  text-align: center;
}

.button2 {
  width: 71px;
  height: 71px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  padding: 0 5px;
  text-align: center;
}

.button2 img {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  fill: #ffffff;

}

.button3 {
  width: 130px;
  height: 130px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 21px;
  line-height: 39px;
  text-align: center;
}

.button3 img {
  width: 100px;
  height: 100px;
  padding-top: 12px;
  text-align: center;
}

.button4 {
  width: 179px;
  height: 42px;
  margin-top: 15px;
  border-radius: 21px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 42px;
  /* padding: 12px 50px; */
  text-align: center;
  text-decoration: none;
}

.button5 {
  width: 308px;
  height: 42px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button6 {
  width: 308px;
  height: 42px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #EEEEEE;
  display: inline-block;
  border: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button7 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button8 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button9 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button10 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button11 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button12 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button13 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button14 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button15 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button16 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button17 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button18 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button19 {
  width: 99px;
  height: 41px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

.button20 {
  width: 266px;
  height: 48px;
  margin-top: 15px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

/***************************** FARVERNE PÅ GRID ******************************/

.farveGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.farveText {
    margin: auto;
}

.farve1 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #F15C22;
}

.farve2 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #EEEEEE;
}

.farve3 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #515865;
}

.farve4 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #222B3B;
}

.farve5 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #000000;
}

.farve6 {
    margin: 0 auto;
    line-height: 100px;
    font-weight: 300;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #ffffff;
    border: 2px solid black;
}


/*************************** HEADER *******************************/

.nav-software {
    height: 60px;
    background-color: #000000;
}

.menu-software {
  float: right;
  margin-right: 171px;
}

.nav-software a {
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 10pt;
    line-height: 60px;
    color: #ffffff;
}

/*************************** STYLE GUIDE - GRID ELEMENTER *******************************/

.styleGuideContent-software {
  padding-top: 60px;
}

.styleGuideContent-software h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 29px;
  font-weight: 600;
}

.styleGuideContent-software h2 {
  padding-bottom: 20px;
  font-size: 19px;
  font-weight: 300;
}

.main-software {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.logo-software {
    margin-left: 171px;
    padding-top: 17px;
    width: 200px;
    height: auto;
    float: left;
}

.styleGuideGrid-software {
  height: 60px;
}

/*********************** MOBIL VERSION CSS - STYLEGUIDE   ******************/
/*********** MÅ IKKIE BENYTTES UDOVER FREMVISNING AF STYLEGUIDE**************/
/************************** KUN TIL DUMMIE BRUG******************************/


.main-software-mobile-sg {

}

header img {
  margin-left: 45%;
}

.styleGuideContent-software-mobile-sg {
  padding-top: 60px;
  text-align: center;
}

.styleGuideContent-software-mobile-sg h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 29px;
  font-weight: 600;
}

.styleGuideContent-software-mobile-sg h2 {
  padding-bottom: 20px;
  font-size: 19px;
  font-weight: 300;
}

.mobilversion-style-sg {
  height: 60px;
  width: 375px;
  position: relative;
  background-color: black;
  margin: 0 auto;
}

.mobilversion-style-sg img {
  margin-left: 44%;
  margin-top: 8px;
}

/***************************** BURGER MENU ***************************/
/*********** MÅ IKKIE BENYTTES UDOVER FREMVISNING AF STYLEGUIDE**************/

.burgercontainer-sg {
  z-index: 1;
  width: 50px;
  position: absolute;
}

.burger-menu-sg { /* stregerne */
  margin-right: 10px;
}

/* BURGERMENU */
.burgercontainer-sg {
  z-index: 5;
  width: 375px;
  height: 812;
  /* stregerne */
}

/************* FARVEN BAG LISTEN I CONTAINER (STYLEGUIDEN) **********/
.navbar-sg { /* BAGGRUNDEN PÅ SLIDEREN */
  height: 752px;
  width: 375px;;
  background-color: black;
  position: absolute;
  top: 3px;
  display: flex;
  right: -375px;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.change {
  right: 0;
}

.burger-menu-sg { /* STREGERNE I BURGERMENUEN */
  z-index: 99999999999999;
  width: 35px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-sg {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
  border-radius: 1px;
}

.change .line-1-sg {
  transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2-sg {
  opacity: 0;
}

.change .line-3-sg {
  transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list-sg {
  list-style: none;
}

/********************** SELVE LISTEN (STYLEGUIDE) *********************/

.nav-container-sg{
  height: 100%;
  overflow-x: scroll;
  z-index: 1000 !important;
  background-color: black;
}

/********************** LIST-ITEM (STYLEGUIDE) *********************/
.nav-item-sg {
  width: 375px;
  margin-bottom: 10px;
  padding: 10px 0;
}
/********************** FØRSTE LIST-ITEM (STYLEGUIDE) *********************/
.forside-sg {
  width: 375px;
  margin-top: 40px;
  padding: 20px 0;
}
/********************** LIST-ITEM (STYLEGUIDE) *********************/
.nav-item-sg img{
  width: 30%;
  visibility: visible;
}

/********************** RESTEN AF LIST-ITEMS (STYLEGUIDE) *********************/
.nav-link-sg {
  display: block;
  text-decoration: none;
  list-style: none;
  width: 375px;
  margin-left: 25px;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  font-weight: 300;
  border-bottom: 2px solid white;
  border: 5px;
  border-color: #000000;
}

/************** FORSIDE STYLING *******************/

.forside-content {
  padding-top: 80px;
  padding-bottom: 60px;
}

.main-forside {
    margin: 0 auto;
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.grid-container-forside {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 270px;
  justify-content: center;
  width: inherit;
  margin: 0 auto;
  padding: 10px;
}

.grid-item-forside {
  width: 200px;
  height: 200px;
  margin: 35px 35px;
  background-color: #f15c22;
  border-radius: 20px;
}

.grid-item-forside a {
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
  color: black;
}

.imgss {
    margin: 25px auto;
    height: 150px;
    width: 150px;
}

/************** LOG IND STYLING *******************/

.mainn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh;
  background: black;
}

.logostor {
  height: 311px;
  width: 276px;
  margin: 0 auto;
  padding-top: 53px;
}
.logostor img {
  height: 258px;
  width: 276px;
}

.loginside {
<<<<<<< HEAD
  width: 400px;
=======
  width: 375px;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin: 0 auto;
}

input.brugernavn {
  height: 39px;
  width: 240px;
  border: solid 1px;
  border-radius: 4px;
}

input.adgangskode {
  height: 39px;
  width: 240px;
  border: solid 1px;
  border-radius: 4px;
}

.brugernavn {
  margin-bottom: 10px;
}

p22 {
    color: #fff;
    font-size: 19px;
    font-weight: 200;
}

.forsideknapper {
  margin-top: 50px;
  text-align: center;
}

.brugernavn {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.adgangskode {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.button2login {
  width: 71px;
  height: 71px;
  margin-top: 30px;
  border-radius: 6px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 39px;
  padding: 0 5px;
  text-align: center;
}

.button2login img {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  fill: #ffffff;
}


/*********** SKABELONER STYLING ************/

.skabeloner {
  margin: 0 auto;
  text-align: center;
}

.samletknapper {
  width: 350px;
  height: 84px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px auto 0 auto;
  padding-left: 1px;
}

.samletknapper2 {
  width: 350px;
  height: 84px;
  border: 1px solid black;
  border-radius: 0px 0 4px 4px;
  margin: 0 auto;
  padding-left: 1px;
  padding-bottom: 20px;
}

.samletknapper img {
  width: 20px;
  height: 18px;
  margin: 5px 16px 5px 5px;
  float: left;
  line-height: 28px;
}

.samletknapper2 img {
  width: 20px;
  height: 18px;
  margin: 5px 16px 5px 5px;
  float: left;
  line-height: 28px;
}

.button21 {
  width: 346px;
  height: 28px;
  background-color: #ffffff;
  display: inline-block;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  float: left;
  text-align: left;
  border-bottom: 1px solid black;
}

.button26 {
  width: 346px;
  height: 25px;
  background-color: #ffffff;
  display: inline-block;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  float: left;
  text-align: left;
}

.button21 p5 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  float: left;
  text-align: left;
}

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.accordion{
    background: #ffffff;
    width: 350px;
    height: 28px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}

.accordion-tab {
  padding-bottom: 10px;
  height: 28px;
}

.accordion-tab > .accordion-toggle{
    position: absolute;
    display: none;
}

label {
  padding-left: 5px;
  text-align: center;
  height: 28px;
}

.accordion-tab > label{
    color: #000000;
    background: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    position: relative;
    display: block;
    height: 28px;
    cursor: pointer;
    padding-bottom: 20px;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: 350ms;
    overflow: hidden;
}

.accordion-tab > label:after {
    content: '\f054';
    position: absolute;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition:transform .30s ;
}

.accordion-tab > .accordion-toggle:checked ~ label:after{
    transform: rotate(270deg);
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    overflow: auto;
}

.accordion-tab > .accordion-content p {
    padding: 30px 20px;
    font-family: 'Century Gothic';
    border: 0.5px solid #000000;
    font-size: 16px;
    line-height: 1.5;
}

.toggle4 label {
    background: red;
    font-family: 'Century Gothic';
    color: blue;
}



#nextBtnskabelon{
  width: 97px;
  height: 41px;
  margin: 50px 10px 20px 10px;
  border-radius: 21px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

#prevBtnskabelon{
  width: 97px;
  height: 41px;
  margin: 50px 10px 20px 10px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

/* Style the form */
#regFormskabelon {
  background-color: #ffffff;
  margin: 40px auto 0 auto;
  padding: 0 40px 0 40px;
  width: 100%;
  height: 50vh;
  min-width: 300px;
}

/* Style the input fields */
input {
  height: 39px;
  width: 100%;
  border: solid 1px;
  border-radius: 4px;
  font-size: 17px;
  font-family: Titillium Web;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: lightgray;
}

/* Hide all steps by default: */
.tab {
  display: none;
  text-align: center;
}

.tab2 {
  margin-top: -240px;
}

.tab H2 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.tab H3 {
  padding-top: 40PX;
}

/* Make circles that indicate the steps of the form: */
.steps {
  padding-top: 20px;
  padding-bottom: 20px;
}

.stepp {
  height: 22px;
  width: 22px;
  margin: 0 35px;
  background-color: #FFFFFF;
  border: solid 0.6px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* MARKERE HVILKEN SIDE DU ER INDE PÅ  */
.stepp.active {
  background-color: #F15C22;
  opacity: 1;
  border: solid 0.6px;
}

/* MARKERE HVILKEN SIDER DER ER FÆRDIGE  */
.stepp.finish {
  background-color: #F15C22;
  opacity: 1;
  border: solid 0.6px;
}

.knapbox{
  overflow: auto;
  margin: 0 auto;
  margin-top: auto;
  padding-bottom: 50px;
}
.knapbox2{
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  text-align: center;
}

/****************** GENNEMGANG AF MIX-PALLETERING ******************/

.gennemgang {
  width: 500px;
  height: 740px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: -10px;
}

.gennemgang img {
  margin: 0 auto;
  padding-top: 40px;
}
/*
.ost {
display: flex;
justify-content: space-around;
} */

.tabs {
  margin-top: 20px;
}

.gennemgang2 {
  width: 500px;
  height: 485px;
  border: 1px solid black;
  margin: 0 auto;
}

.gennemgang2 img {
  margin: 0 auto;
}
/*
.ost {
display: flex;
justify-content: space-around;
} */

.ost {
  margin-top: 30px;
}

.ost h4 {
  float: left;
  font-size: 18px;
  font-weight: 600;
  margin-right: 0;
  padding-left: 20px;
}

.ost img {
  padding-top: 5px;
}

.ost h5 {
  float: right;
  font-size: 18px;
  font-weight: 300;
  margin-left: 0;
  padding-right: 20px;
}

.ost1 img {
  margin-left: 39px;
  margin-right: 0;
}

.ost2 img {
  margin-left: 23px;
  margin-right: 0;
}

.ost3 img {
  margin-left: 17px;
  margin-right: 0;
}

.ost4 img {
  margin-left: 11px;
  margin-right: 0;
}

.ost5 img {
  margin-left: 21px;
  margin-right: 0;
}

.ost6 img {
  margin-left: 33px;
  margin-right: 0;
}

.ost7 img {
  margin-left: 23px;
  margin-right: 0;
}

.praktisk h2 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0;
  text-align: center;
}

.praktisk h3 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}

/******* OPRET SKABELON STYLING  *******/
/*********** PRAKTISKE ELEMENTER ***********/

.opretskabeloner {
  height: 100vh
  margin: 0 auto;
  text-align: center;
}

/* GØR DET MULIGT AT BLIVE PÅ DEN SAMME HTML SIDE, MEN SKJULE RESTERENDE ELEMENTER */
.tab {
  display: none;
}

/********** DE FASTE KNAPPER SOM ER EN DEL AF FORM WIZAREDEN ********/

#VIDEREKNAP{
  width: 99px;
  height: 41px;
  margin: 20px 10px 0 10px;
  border-radius: 40px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

#ANNULLERKNAP{
  width: 99px;
  height: 41px;
  margin: 20px 10px 0 10px;
  border-radius: 40px;
  background-color: #222B3B;
  display: inline-block;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 39px;
  /* padding: 12px 50px; */
  text-align: center;
}

/* STYLER KNAPPERNES PLACERING */
.knapbox{
  overflow: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 8px;
}
.knapbox2{
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  text-align: center;
}

/***** STYLER HELE FORMEN ******/
#regForm {
  background-color: #ffffff;
  margin: 40px auto 0 auto;
  padding: 0 40px 0 40px;
  width: 100%;
  height: 50vh;
  min-width: 300px;
}

/* STYLER INPUT FELTERNE PÅ FORM WIZARDEN */
input {
  height: 39px;
  width: 350px;
  padding-left: 10px;
  margin: 8px 8px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 17px;
  font-family: Titillium Web;
  border: 1px solid #aaaaaa;
}

/* STYLER INPUT FELTERNE NÅR DER ER ODAGET EN FEJL I FORM WIZARDEN */
input.invalid {
  background-color: lightgray;
}

/* STYLER OVERSKRIFTERNE PÅ ALLE SIDERNE I FORM WIZARDEN */
h4.tilfojprodukter{
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 8px;
}

/* STYLER UNDER OVERSKRIFTERNE PÅ SIDERNE I TILFØJ PRODUKTER - STEP 2 */
p4.tilfoj{
  font-size: 20px;
  font-weight: 600;
}

/* STYLER TEKSTEN PÅ SIDEN I "ER DU SIKKER DU HAR TILFØJET ALLE" - STEP 3 */
h4.foratvareover{
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* STYLER TEKSTEN PÅ SIDEN I "ER DU SIKKER DU HAR TILFØJET ALLE" - STEP 3 */
h5.foratvaretekst{
  font-size: 26px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 8px;
}

/* MARKERE CIRKLERNE PÅ SIDEN I FORM WIZARDEN */

.steps {
  padding-top: 20px;
}

.step {
  height: 22px;
  width: 22px;
  margin: 0 35px;
  background-color: #FFFFFF;
  border: solid 0.6px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* MARKERE HVILKEN SIDE DU ER INDE PÅ I  FORM WIZARDEN */
.step.active {
  background-color: #F15C22;
  opacity: 1;
  border: solid 0.6px;
}

/* MARKERE HVILKEN SIDER DER ER FÆRDIGE I FORM WIZARDEN  */
.step.finish {
  background-color: #F15C22;
  opacity: 1;
  border: solid 0.6px;
}

/***** STYLINGEN TIL MINUS KNAPPEN PÅ "TILFØJ PRODUKTER SIDEN *****/
.button23 {
  width: 41px;
  height: 41px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  display: inline-block;
  border: solid 2px;
  border-color: #222B3B;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  padding: 0 5px;
  margin-top: 20px;
  margin-right: 8px;
}

/***** STYLER MINUS KNAPPEN TIL SVG BILLEDET *****/
.button23 img {
  width: 20px;
  height: 20px;
  margin-top: 9px;
  text-align: center;
}

/***** STYLINGEN TIL PLUS KNAPPEN PÅ "TILFØJ PRODUKTER SIDEN *****/
.button24 {
  width: 41px;
  height: 41px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  display: inline-block;
  border: solid 2px;
  border-color: #F15C22;
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 39px;
  padding: 0 5px;
  margin-left: 8px;
  margin-top: 20px;
}

/***** STYLER PLUS KNAPPEN TIL SVG BILLEDET *****/
.button24 img {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  text-align: center;
}

/***** STYLER BOADEREN DER PÅ TEKST FELTET I STEP 3 *****/
.borderforatvare {
  width: 500px;
  height: 225px;
  border: 1px solid #F15C22;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* STYLER UNDER OVERSKRIFTERNE PÅ SIDERNE I ALT DET PRAKTISKE - STEP 4 */
p4.laginfo{
  font-size: 20px;
  font-weight: 600;
}

/********* DROP DOWN FUNKTIONEN INDEN I OPRET NY SKABELON  **************/

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.accordion-opret{
    background: #ffffff;
    width: 350px;
    height: 39px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 155px;
}

.accordion-tab-opret {
  padding-bottom: 10px;
  height: 39px;
}

.accordion-tab-opret > .accordion-toggle-opret{
    position: absolute;
    display: none;
}

label {
  padding-left: 5px;
>>>>>>> 9f6a9c678ad2895d446fcd4cebd7d70bbe7ee71b
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  margin: 0 auto;
}

input {
  height: 39px;
  width: 253px;
  border: solid 1px;
  border-radius: 4px;
<<<<<<< HEAD
=======
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  float: left;
  text-align: center;
}

/********* DROP DOWN FUNKTIONEN INDEN I ALT DET PRAKTISKE - STEP 4  **************/

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.accordion-opret1{
    background: #ffffff;
    width: 350px;
    height: 39px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 200px;
>>>>>>> 9f6a9c678ad2895d446fcd4cebd7d70bbe7ee71b
}

.brugernavn {
  margin-bottom: 10px;
}

p22 {
    color: #fff;
    font-size: 19px;
    font-weight: 200;
}

.forsideknapper {
  margin-top: 50px;
  text-align: center;
}

.brugernavn {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.adgangskode {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.button2login {
  width: 71px;
  height: 71px;
  margin-top: 30px;
  border-radius: 6px;
  background-color: #f15c22;
  display: inline-block;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 39px;
  padding: 0 5px;
  text-align: center;
}

.button2login img {
  width: 60px;
  height: 60px;
  padding-top: 10px;
  fill: #ffffff;
}

<<<<<<< HEAD
=======
/****************** STYLING TIL ALLE STATISTIKKER ******************/

.allestatistikkermenu{
margin: 0 auto;
text-align: center;
padding-top: 38px;
width: 500px;
}

.allestatistikkermenu h1{
padding-bottom: 15px;
}

.allestatistikkermenu .button6{
width: 350px;
}

.button6:hover {
  background-color: #F15C22;
  color: white;
}

/****************** STYLING TIL ALLE STATISTIKKER ******************/

.allestatistikkermenu{
margin: 0 auto;
text-align: center;
padding-top: 38px;
width: 500px;
}

.allestatistikkermenu h1{
padding-bottom: 15px;
}

.allestatistikkermenu .button6{
width: 350px;
}

.button6:hover {
  background-color: #F15C22;
  color: white;
}

>>>>>>> 047dc5b2b0508f1c6f725c57109b521d229bbee1
/********************* MEDIA QUERIES ************************/
/******************* 801 ELLER  HØJERE ***************************/
@media only screen and (min-width: 801px) {
  header {
      display: none !important;
  }
  .burgercontainer {
    display: none !important;
  }

  .forsideknapper {
    display: none;
  }

  .mainn {
    padding-top: 75px;
  }

  .loginside {
    padding-top: 40px;
  }

}

/************ DETTE ER BURGERMENUEN PÅ HVER SIDE ************/
/*********** 800 ELLER LAVERE ****************/
@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .forside-content {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .main-forside {
      margin: 0 auto;
      font-size: 20px;
      padding: 0;
      text-align: center;
  }
  .grid-container-forside {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    justify-content: center;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-item-forside {
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: #f15c22;
    border-radius: 20px;
  }

  .grid-item-forside a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    color: black;
    line-height: 60px;
  }

  .imgss {
      margin: 0 auto;
      height: 120px;
      width: 120px;
      padding-top: 30px;
  }

  .button4 {
    width: 160px;
    height: 35px;
    margin-top: 25px;
    border-radius: 21px;
    background-color: #222B3B;
    display: inline-block;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    /* padding: 12px 50px; */
    text-align: center;
  }

<<<<<<< HEAD
=======
    .tab2 {
      margin-top: -290px;
    }

    .gennemgang {
      width: 310px;
      height: 740px;
      border: 1px solid black;
      margin: 0 auto;
      margin-top: -10px;
    }

    .gennemgang2 {
      width: 310px;
      height: 485px;
      border: 1px solid black;
      margin: 0 auto;
    }

    .samletknapper {
      width: 245px;
      height: 84px;
      border: 1px solid black;
      border-radius: 4px;
      margin: 10px auto 0 auto;
      padding-left: 1px;
    }

    .samletknapper2 {
      width: 245px;
      height: 84px;
      border: 1px solid black;
      border-radius: 0px 0 4px 4px;
      margin: 0 auto;
      padding-left: 1px;
      padding-bottom: 20px;
    }

    .accordion{
        background: #ffffff;
        width: 245px;
        height: 28px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 100px;
    }

    .button21 {
      width: 240px;
      height: 28px;
      background-color: #ffffff;
      display: inline-block;
      border: none;
      color: black;
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
      float: left;
      text-align: left;
      border-bottom: 1px solid black;
    }

    .button26 {
      width: 240px;
      height: 25px;
      background-color: #ffffff;
      display: inline-block;
      border: none;
      color: black;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      float: left;
      text-align: left;
    }

/****************************** OPRET SKABELON ****************/
  h1{
    font-size: 30px;
    font-weight: 600;
  }

  /* STYLER OVERSKRIFTERNE PÅ ALLE SIDERNE I FORM WIZARDEN */
  h4.tilfojprodukter{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  /* STYLER INPUT FELTERNE PÅ FORM WIZARDEN */
  input {
    height: 40px;
    width: 242px;
    padding-left: 10px;
    margin: 8px 8px;
    border: solid 1px;
    border-radius: 4px;
    font-size: 17px;
    font-family: Titillium Web;
    border: 1px solid #aaaaaa;
  }

    /* MARKERE CIRKLERNE PÅ SIDEN I FORM WIZARDEN */

    .step {
      height: 22px;
      width: 22px;
      margin: 0 10px;
      background-color: #FFFFFF;
      border: solid 0.6px;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    .accordion-opret{
        background: #ffffff;
        width: 245px;
        height: 28px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .accordion-tab-opret {
      padding-bottom: 10px;
      height: 28px;
    }

    .accordion-tab-opret > .accordion-toggle-opret{
        position: absolute;
        display: none;
    }

    label {
      padding-left: 5px;
      text-align: center;
      height: 28px;
    }

    .accordion-tab-opret > label{
        color: #000000;
        background: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        position: relative;
        display: block;
        height: 28px;
        cursor: pointer;
    }

    .accordion-opret1{
        background: #ffffff;
        width: 245px;
        height: 28px;
        margin: 0 auto;
        padding-top: 10px;
    }

    .accordion-tab-opret1 {
      padding-bottom: 10px;
      height: 28px;
    }

    .accordion-tab-opret1 > .accordion-toggle-opret1{
        position: absolute;
        display: none;
    }

    label {
      padding-left: 5px;
      text-align: center;
      height: 28px;
    }

    .accordion-tab-opret1 > label{
        color: #000000;
        background: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        position: relative;
        display: block;
        height: 28px;
        cursor: pointer;
    }

    /***** STYLER KNAPPEN I DROP DOWN FUNKTIONEN *****/
    .button22 {
      width: 242px;
      height: 28px;
      background-color: #ffffff;
      display: inline-block;
      border: 1px solid #aaaaaa;
      opacity: 80%;
      color: black;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      float: left;
      text-align: center;
    }

    /***** STYLER BOADEREN DER PÅ TEKST FELTET I STEP 3 *****/
    .borderforatvare {
      width: auto;
      height: 335px;
      border: 1px solid #F15C22;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    /***** STYLER BOADEREN DER PÅ TEKST FELTET I STEP 5 *****/
    .borderforatvare2 {
      width: auto;
      height: 435px;
      border: 1px solid #aaaaaa;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    /****************** GENNEMGANG AF MIX-PALLETERING - STEP 5 ******************/
    .gennemgang-opret {
      width: auto;
      height: 720px;
      border: 1px solid black;
      margin: 0 auto;
      margin-top: -10px;
      margin-bottom: 15px;
    }

    .gennemgang-opret img {
      margin: 0 auto;
      padding-top: 40px;
    }

    .ost{
      margin-top: 10px;
    }

    /*
    .ost {
    display: flex;
    justify-content: space-around;
    } */

    .ost h4 {
      float: left;
      font-size: 18px;
      font-weight: 600;
      margin-right: 0;
      padding-left: 20px;
    }

    .ost img {
      padding-top: 5px;
    }

    .ost h5 {
      float: right;
      font-size: 18px;
      font-weight: 300;
      margin-left: 0;
      padding-right: 20px;
    }

    .ost1 img {
      margin-left: 39px;
      margin-right: 0;
    }

    .ost2 img {
      margin-left: 23px;
      margin-right: 0;
    }

    .ost3 img {
      margin-left: 17px;
      margin-right: 0;
    }

    .ost4 img {
      margin-left: 11px;
      margin-right: 0;
    }

    .ost5 img {
      margin-left: 21px;
      margin-right: 0;
    }

    .ost6 img {
      margin-left: 33px;
      margin-right: 0;
    }

    .ost7 img {
      margin-left: 23px;
      margin-right: 0;
    }

    .praktisk h2 {
      margin: 0 auto;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 0;
      text-align: center;
    }

    .praktisk h3 {
      margin: 0 auto;
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 0;
      padding-top: 0;
      text-align: center;
    }
  }

  h4.foratvareover{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /****************** STYLING TIL ALLE STATISTIKKER ******************/
<<<<<<< HEAD

.allestatistikkermenu{
  margin: 0 auto;
  text-align: center;
  padding-top: 38px;
  width: 375px;
}

.allestatistikkermenu .button6{
  width: 308px;
  height: 42px;
=======

.allestatistikkermenu{
  margin: 0 auto;
  text-align: center;
  padding-top: 38px;
  width: 375px;
}

.allestatistikkermenu .button6{
  width: 308px;
  height: 42px;
}

.allestatistikkermenu h1{
  padding-bottom: 15px;
>>>>>>> 047dc5b2b0508f1c6f725c57109b521d229bbee1
}

.allestatistikkermenu h1{
  padding-bottom: 15px;
}

>>>>>>> 047dc5b2b0508f1c6f725c57109b521d229bbee1
}

/************ DETTE ER BURGERMENUEN PÅ HVER SIDE ************/
/*********** 500 ELLER LAVERE ****************/
@media only screen and (max-width: 500px) {
  nav {
    display: none;

  }

  .forside-content {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .main-forside {
      margin: 0 auto;
      font-size: 20px;
      padding: 0;
      text-align: center;
  }
  .grid-container-forside {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    justify-content: center;
    width: inherit;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .grid-item-forside {
    width: 130px;
    height: 130px;
    margin: 30px 18px;
    background-color: #f15c22;
    border-radius: 20px;
  }

  .grid-item-forside a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 55px;
  }

  .imgss {
      margin: 0 auto;
      height: 100px;
      width: 100px;
      padding-top: 30px;
  }

  .button4{
    width: 160px;
    height: 35px;
    margin-top: 25px;
    border-radius: 21px;
    background-color: #222B3B;
    display: inline-block;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    /* padding: 12px 50px; */
    text-align: center;
  }

}

/************* SETTINGS FOR MEDIA QUERIES MED BURGERMENU **********/
/**************** ROBOT NORDIC LOGO I AF NAV ****************/
    header img {
        margin-left: 45%;
    }

    /* BURGERMENU */
    .burgercontainer {
      z-index: 1;
      width: 50px;
      height: 100vh;
    }

    /* HEADER */
    header {
      width: 100%;
      top: 0px;
      height: 60px;
      display: flex;
      background-color: #000000;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    header img{
      visibility: visible;
    }

    /* SELVE BURGERMENU-CONTAINEREN */
    .burgercontainer {
      z-index: 5;
      width: 60px;
      height: 100%;
    }

/******* FARVEN BAG LISTEN I CONTAINER **********/
    .navbar {
      width: 100%;
      background-color: #000000;
      position: fixed;
      top: 59px;
      display: flex;
      right: -800px;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(0.5, 0, 0, 1);
    }

/******** ANIMATION AF BURGERMENU IKONET ************/
    .change {
      right: 0;
    }

/********* STREGERNE I BURGERMENU-IKONET********/
    .burger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 15px;
      right: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

/********** BURGER-IKONET, -LAVET AF SMÅ LISTER- ******/
    .line {
      width: 100%;
      height: 3px;
      background-color: white;
      transition: all 0.8s;
      border-radius: 1px;
    }

/******** ANIMATION AF BURGERMENU IKONET *******/
    .change .line-1 {
      transform: rotateZ(-45deg) translate(-8px, 6px);
    }

    .change .line-2 {
      opacity: 0;
    }

    .change .line-3 {
      transform: rotateZ(45deg) translate(-8px, -6px);
    }

    .nav-list {
      list-style: none;
      padding-top: 30px;
    }

/********** SELVE LISTEN ***********/
    .nav-container{
      height: 100vh;
      overflow-x: scroll;
      z-index: 1000 !important;
    }

/********* LIST-ITEM ********/
    .nav-item {
      width: 375px;
      margin-bottom: 10px;
      padding: 10px 0;
    }

/********* FØRSTE LIST-ITEM *********/
    .forside {
      width: 375px;
      margin-top: 10px;
      padding: 20px 0;
    }

/********** RESTEN AF LIST-ITEMS *******/
    .nav-link {
      display: block;
      text-decoration: none;
      list-style: none;
      width: 375px;
      margin-left: 25px;
      font-size: 26px;
      font-weight: 300;
      color: #ffffff;
      font-weight: 300;
      border-bottom: 2px solid white;
      border: 5px;
      border-color: #000000;
    }

}


/*___________________*/

.alert {
  padding: 20px;
  background-color: #222B3B;
  color: #222B3B;
  opacity: 90%;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width: 50%;
}

.alert.info {background-color: #ffffff;}

.closebtn {
  margin-left: 15px;
  color: #222B3B;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: greenyellow;
}
ul.a {
	list-style-type: square;
	color: greenyellow;
}
ul.b {
	list-style-type: square;
	color: #222B3B;
}


/**Status over pakning af pallen, vises som alert**/
#dialogoverlay{
	display: none;
	opacity: 30%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #eeeeee;
	border-radius:5px;
	width:400px;
	height: auto;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #222B3B; font-size:19px; padding:20px; color:#ffffff; }
#dialogbox > div > #dialogboxbody{ background:#ffffff; padding:20px; color:#000000; }
#dialogbox > div > #dialogboxfoot{ background: #222B3B; padding:10px; text-align:center; }


/** palle slideshow placering på siden**/

.slidecontrol {
	margin-left: 630px;
	margin-top: 20px;
}
.slidecontrol2 {
	margin-left: 630px;
	margin-top: 20px;
	height: 10px;
	width: 40px;
}

/************* DATEPICKER - STYLING ************/

.date-picker {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 40px;
  background-color: #ffffff;
  margin: 10px auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  user-select: none;
}

.date-picker:hover{
  background-color: #f3f3f3;

}

/*Den viste/valgte dato */
.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;

}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: #ffffff;
}

/* active = blok kommer ned når der klikkes på dato = under "functions" i js */
.date-picker .dates.active {
  display: block;
}

/* styling af månedens placering + farve */
.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

/*pilene på hver side af måneden */
.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;

}

/* farven der vises når man hover over pilene */
.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

/* farven der kommer frem når man klikker på pilen i boksen */
.date-picker .dates .month .arrows:active {
  background-color: #00ca85;
}

/* Rækken med dagene i kalenderen */
.date-picker .dates .days {
display: grid;
grid-template-columns: repeat(7, 1fr); /* repeat = da der er 7 dage på en uge og 1fr = one fraction */
height: 200px;
}

/* Selve dagene */
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

/* Når en dag bliver valgt */
.date-picker .dates .days .day.selected {
background-color: #f15c22;
color: #313131;
}

/*************** GRAF PÅ STATISTIK-SIDEN ****************/
.canvas_container {
align-content: center;
margin-top: 40%;
}

.container_btn-group {
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .canvas_container {
  align-content: center;
  margin-top: 40%;
  }

  .container_btn-group {
    float: left; /* Float the buttons side by side */
  }
}
